---
---

<a href="/" class="logo-link" aria-label="Budd's Plumbing, Heating & Cooling - Home">
	<img
		src="/assets/budds/logo.avif"
		alt="Budd's Plumbing, Heating & Cooling"
		class="logo"
		width="400"
		height="100"
	/>
</a>

<style>
	.logo-link {
		display: inline-block;
		text-decoration: none;
	}

	.logo {
		height: 45px;
		width: auto;
		display: block;
	}

	@media (max-width: 768px) {
		.logo {
			height: 35px;
		}
	}
</style>
